<nav class="top-0 w-full z-50 fixed border-b-2 bg-[url('assets/navbar.png')] opacity-80 border-gray-600">

  <div class="absolute inset-0 bg-black/40"></div>

    <div class="relative container mx-auto p-3 flex items-center justify-between">

      <div class="pt-2" style="width: 6rem; height: 6rem">
            <button (click)="main()" class="cursor-pointer">
                <img src="assets/mhwilds.png" style="width: auto; height: auto" alt="Logo" />
            </button>
        </div>

        <div class="space-x-8 flex items-center text-white">
            <button (click)="request()" class="hover:text-yellow-600 cursor-pointer p-6">Send Request</button>
            <button (click)="aboutus()" class="hover:text-yellow-600 cursor-pointer p-6">About me</button>
            <button (click)="contacts()" class="hover:text-yellow-600 cursor-pointer p-6">Contacts</button>
            <div class="border border-amber-50 rounded-3xl hover:border-yellow-600 flex items-center">
                <div *ngIf="token; else loginButton">
                    <button (click)="profile()" class="hover:text-yellow-600 cursor-pointer px-6 py-4">Olá, {{username}}</button>
                </div>
                <ng-template #loginButton>
                    <button (click)="login()" class="hover:text-yellow-600 cursor-pointer px-6 py-4">Iniciar Sessão</button>
                </ng-template>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>